:root {
    font-family: 'Poppins', sans-serif;
  }
  
  *,
  ::before,
  ::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }
  
  #navbar {
    background-color: white;
    color: black;
    height: 60px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
  }
  
  .navbar-links li {
    display: inline-block;
    padding-left: 15px;
  }
  
  .navbar-links {
    font-size: 20px;
    margin-right: 30px;
    margin-top: 15px;
  }
  
  #welcome-section {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    text-align: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    color: white;
  }
  
  .welcome-text {
    background-image: linear-gradient(160deg, #80D0C7 0%, #0093E9 100%);
    width: 60%;
    padding: 100px 0;
    border-radius: 20px;
    box-shadow: 0px 0px 200px white;
  }
  
  .welcome-text p, .welcome-text h1 {
    padding-top: 10px;
  }
  
  .welcome-text p {
    width: 90%;
    margin: auto;
  }
  .welcome-text h1 {
    font-size: 3rem;
  }
  
  @media only screen and (max-width: 650px) {
    .welcome-text {
    background-image: linear-gradient(160deg, #80D0C7 0%, #0093E9 100%);
    width: 90%;
    padding: 100px 0;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 200px white;
  }
  }
  
  .sub {
    margin-top: 10px;
  }
  
  .middle-text {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  
  #projects {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    padding-bottom: 3rem;
  }
  
  .project-tile {
    background-color: #303841;
    margin: 0 auto;
    width: 100%;
    height: 300px;
    color: white;
  }
  
  .caption {
    display: block;
    text-align: center;
    margin-top: 16px;
  }
  
  img {
    width: 100%;
    object-fit: cover;
    height: 80%;
  }
  
  #social {
    height: 100vh;
    background: linear-gradient(to right, #ff6e7f, #bfe9ff);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .social-boxes {
    display: flex;
    justify-content: space-evenly;
  }
  
  .social-media-box {
    text-align: center;
  }
  
  .social-caption {
    color: black;
  }
  
  .media-container {
    scale: 2;
    margin-bottom: 10px;
  }
  
  .inline {
    text-align: center;
    margin-bottom: 100px;
    font-size: 2rem;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
  }
  
  footer p {
    text-align: center;
  }
  
  footer p:first-of-type {
    padding-left: 10px;
  }
  
  footer p:last-of-type {
    padding-right: 10px;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    color: blue;
  }
  
  #projects a:hover {
    box-shadow: 0px 0px 10px black;
  }  